:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.displayContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.pokemonItem {
  transition: box-shadow border-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  border-radius: 5px;
}

.pokemonItem img {
  width: 6rem;
  height: auto;
}

.pokemonItem:hover {
  box-shadow: 0 8px 15px rgba(223, 217, 217, 0.4);
  cursor: pointer;
}
